<div class="container">
  <mat-card appearance="outlined">
    <mat-card-title>Monty Hall Simulator</mat-card-title>
    <mat-card-content>
      <form [formGroup]="montyHallForm" (submit)="runSimulator()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label> Number of simulations</mat-label>
            <input
              matInput
              type="number"
              placeholder="Number of games"
              formControlName="games"
            />
            <mat-error
              *ngIf="
                montyHallForm.controls['games'].errors &&
                montyHallForm.controls['games'].hasError('required')
              "
              >Number of games is required</mat-error
            >
            <mat-error
              *ngIf="
                montyHallForm.controls['games'].errors &&
                montyHallForm.controls['games'].hasError('min')
              "
              >Number should be greater than 1</mat-error
            >
            <mat-error
              *ngIf="
                montyHallForm.controls['games'].errors &&
                montyHallForm.controls['games'].hasError('max')
              "
              >Number should be lower than 5000000</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox formControlName="switchDoor">
            <span>Switch door </span></mat-checkbox
          >
        </div>
        <button
          type="submit"
          mat-raised-button
          [disabled]="loading || montyHallForm.invalid"
        >
          {{ loading ? "Running..." : "Run simulation" }}
        </button>

        <div class="hint">
          Tip : Try 100,000 - 1,000,000 to see the paradox clearly
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="result" class="results card">
    <h2>Results</h2>
    <div class="grid">
      <div>
        <strong>Games</strong>
        <div>{{ result.games }}</div>
      </div>
      <div>
        <strong>Switch</strong>
        <div>{{ result.switchDoor ? "Yes" : "No" }}</div>
      </div>
      <div>
        <strong>Wins</strong>
        <div>{{ result.wins }}</div>
      </div>
      <div>
        <strong>Losses</strong>
        <div>{{ result.losses }}</div>
      </div>
      <div>
        <strong>Win rate</strong>
        <div>{{ result.winRatePercent }}%</div>
      </div>
    </div>

    <div class="bars">
      <div
        class="bar wins"
        [style.width.%]="(result.wins / result.games) * 100"
      >
        Wins
      </div>
      <div
        class="bar losses"
        [style.width.%]="(result.losses / result.games) * 100"
      >
        Losses
      </div>
    </div>
  </div>
</div>
